
#grid {
    width: 330px;
	overflow: hidden;
	margin: 40px auto 0 auto;
}
#turn {
    display: block;
    color: green;
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	margin-bottom: 20px;
}
.box {
    float: left;
	width: 100px;
	height: 100px;
	border: 1.5px solid #000;
	transition: all .25s ease-in-out;
	font-size: 85px;
	text-align: center;
	line-height: 100px; 
	cursor: pointer;
}
/*.box:hover{
	background: rgb(174, 244, 255);
	color: rgb(108, 108, 108);
}*/
.win {
	color: green;
	background: greenyellow;
}